<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title><%= pageTitle %></title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <script src="//cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>
  </head>
 
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="0 navbar-brand col-sm-3 col-md-2 mr-0" href="#">Wellcome  <%= fullname %></a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/users/logout">logout</a>
      </li>
    </ul>
  </nav>
    <body class="rtl">
        



<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-md-9">te9</div> -->

      <%- include('../private/dashSidebar.ejs') %> 
      <!-- <div class="col-md-9">tes9</div> -->

       <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <%- body %>
      </main>
    
  </div>
 
</div>
<%if(path=="/dashboard/add-post") { %>

  <script src="/js/upload.js"></script>
  <% } %>
<script>
  CKEDITOR.replace("body");
  </script> 
<script src="/js/jquery.slim.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

    </body>
</html>
