    <%- include('./includes/navbar') -%>
    
   
        <!-- <br />
        <br />
        <h1> my simple weblog</h1>
        
        <button class="btn btn-primary">Hello World</button>
        <button class="btn btn-outline-danger">Click</button> -->
 
