<form class="form-signin" action="/users/forget-password" method="POST">
    <h1 class="h3 mb-3 font-weight-normal">forget password</h1>
    <%- include("./includes/loginMessages.ejs") %>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input
      type="email"
      name="email"
      id="inputEmail"
      class="form-control"
      placeholder="Email address"
      required
      autofocus
    />
  
  <div class="form-group">
    <div class="g-recaptcha" data-sitekey="6LdzkPQjAAAAAHxv7JHA7gUuhFskxzO_f9-lqL2i"></div>
  </div>  
  </br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
     send
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>
  </form>
  