<form class="form-signin" action="/users/reset-password/<%= userId %>" method="POST">
    <h1 class="h3 mb-3 font-weight-normal">reset password</h1>
    <%- include("./includes/loginMessages.ejs") %>
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password"
      name="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      required
    />
  

    <label for="inputPassword" class="sr-only">repeat Password</label>
  <input
    type="password"
    name="confirmPassword"
    id="inputConfirmPassword"
    class="form-control mb-2"
    placeholder="ConfirmPassword"
    required
  />
  
  </br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      reset Password
    </button>
  </form>
  



