<h3 class="mt-2 text-center">create new post</h3>
    <form action="/dashboard/add-post" class="" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input
                type="text"
                class="form-control w-50"
                name="title"
                id="title"
            />
        </div>
       

        <div class="form-group">
            <label for="status">Status</label>
            <select id="inputState" class="form-control" name="state">
                <option selected="">public</option>
                <option>private</option>
              </select>
           
        </div>

        
        <div class="form-group">
            <label for="exampleFormControlTextarea1">body</label>
            <textarea name="body" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="submit" value="create post" class="btn btn-success m-2" />
            </div>
              <div class="form-group col-md-6">
                <a href="/dashboard" class="btn btn-warning m-2">cancle</a>
            </div>
        </div>
    </form>
