<nav
id="sidebarMenu"
class="col-md-2 d-none d-md-block bg-light "
>
<div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <a
                class="nav-link d-flex align-items-center btn btn-outline-secondary <%= path=="/dashboard" ? 'active' : '' %> " href="/dashboard"
                >
                    <span class="fa fa-home mr-3"></span>
                    dashboard
                </a
            >
        </li>
       
        <li class="nav-item mb-2">
            <a
                class="nav-link d-flex align-items-center btn btn-outline-secondary 
                <%= path === "/dashboard/add-post" ? 'active' : '' %>"
                href="/dashboard/add-post"
                >
                    <span class="fa fa-plus mr-3"></span>
                    add new post
                </a
            >
        </li>
    </ul>

    
    <h6
    class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
>
    <span>setting</span>
    <a
        class="d-flex align-items-center text-muted"
        href="#"
        aria-label="Add a new report"
    >
        
    </a>
</h6>
</div>
</nav>